.page-content {
	font-family: 'Montserrat', sans-serif; 
}

p {
	font-size: 17px;
}

li {
	font-size: 18px;
}

.top {
	border-bottom: solid 1px #bfbfbf;	
	background: #87ceeb;
}

.header {
	font-weight: 500;
	padding-left: 2%;
	width: 25%;
	min-width: 250px;
	border-left: solid 1px #bfbfbf;
}

.navigation-bar {
	position: relative;
	font-weight: 400;
	min-width: 75%;
	background: #f3fafd;
}

.navigation-bar ul {
	position: absolute;
	bottom: 0; 
	right: 0;  
	list-style-type: none;
} 
 
.navigation-bar ul li {  
	display: inline;
	float: left;
	margin-right: 0px;
	border-right: 1px solid #aaa;
	padding: 0 20px;
} 

.navigation-bar ul li:last-child {
	border-right: none;
}
 
.navigation-bar ul li a { 
	padding: 0.2em 1em;
	display: inline-block;
	text-decoration: none; 
	color: #000;
} 
 
.navigation-bar ul li a:hover { 
	color:  #005b96; 
} 

.sub-menu {
	display: none;
}

.sub-menu li {
	text-decoration: none;
	margin-left: 5%;
}

.sub-menu li a {
	margin-left: 5px;
}

.nav-menu ul li:hover > ul {
   display: block;
}

.nav-menu ul li:hover > i {
   
}

.main {
	min-height: 730px;	
	display: flex;
	align-items: stretch;
}

.sidebar {
	min-width: 250px;
	width: 25%;
	padding-top: 3%;
	padding-left: 2%;
	border-right: solid 1px #bfbfbf;
	background: #c9e9f6;
	position: relative;
}

.sidebar-header {
	padding-top: 2%;
}

.sidebar-block {
	margin: 5%;
}

.sidebar-links li {
	padding: 0.5%;
}

.sidebar-links li a {
	color: black;
}

.sidebar-links li a:hover {
	color:  #005b96;
	text-decoration: none;
}

/* Monochromatic share icons */
.social a {
	display: inline-block;
	margin: 0 10px 10px 0;
	color: #fff;
	width: 3em;
	height: 3em;
	border-radius: 1.5em;
	line-height: 3em;
	font-size: 1.2em;
	vertical-align: bottom;
	text-align: center;
	border: solid 1px #969696;
	color: #969696;
}

.social button {
	display: inline-block;
	margin: 0 10px 10px 0;
	color: #fff;
	background: white;
	width: 3em;
	height: 3em;
	border-radius: 1.5em;
	line-height: 3em;
	font-size: 1.2em;
	vertical-align: bottom;
	text-align: center;
	border: solid 1px #969696;
	color: #969696;
}

.social a:hover, .social a:focus  {
	color: #005b96;
	border-color: #005b96;
	text-decoration: none;
}

.social button:hover, .social button:focus  {
	color: #005b96;
	border-color: #005b96;
	text-decoration: none;
}

.social a i {
	vertical-align: middle;
}

/* Go to the top of the page */
.button-top {
	padding: 10%;
	cursor: pointer;
	position: absolute;
	bottom: 0;
	display: inline;
}

.content {
	width: 75%;
	padding: 2%;
	padding-bottom: 5vh;
}

.content-block {
	padding: 2.5%;
}

.content-small-block {
	margin: 2%;
}

.content-subheader {
	color: #15487b;
}

.content-header {
	color: #0a3063;
}


.image-container {
	text-align: center;
	padding: 2%;
}

.content-image {
	height: 20%;
	width: 100%;
	max-width: 850px;
}

.middle-image {
	width: 30%;
	max-width: 300px;
	min-width: 140px;
	float: left;
	margin: 0 4% 2% 0%;
}

.small-image {
	width: 30%;
	max-width: 150px;
	float: left;
	margin: 0 2% 2% 1%;
}

.small-text {
	color: #82afc3;
}

.col-form-label {
	display: inline-block;
	padding: 10px;
}

.col-form-input {
	padding-left: 10px;
	padding-bottom: 3%;
}

.radio-input {
	font-size: 13.5px;
	margin: 3px;
	margin-left: 10px;
}

.middle-block {
	margin-right: 20%;
	margin-bottom: 20px;
}

.half-block {
	width: 50%;
}

.full-width {
	width: 100%;
}

input[type="radio"] {
    vertical-align: text-bottom;
}

.styled-select {
   height: 2.5em;
   overflow: hidden;
   display: inline-block;
   min-width: 20%;
}

.bottom-border {
	border-bottom: solid 1px #bfbfbf;
}

.footer {
	bottom: 0;
	width: auto;
	height: 20%;
	background: #eeeeee;
	border-top: solid 1px #bfbfbf;
	min-height: 13vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.footer-contact {
	margin: 2%;
}

.footer-contact-header {
	margin: 3%;
}

/* Colored share icons */
.social-color a {
	display: inline-block;
	margin: 0 10px 10px 0;
	color: #fff;
	width: 3em;
	height: 3em;
	border-radius: 1.5em;
	line-height: 3em;
	font-size: 1.2em;
	vertical-align: bottom;
	text-align: center;
	border: solid 1px #45b3e0;
	color: #45b3e0;
	background: #fff;
}

.social-color a:hover, p.social a:focus  {
	color: #005b96;
	border-color: #005b96;
	text-decoration: none;
}

.social-color a i {
	vertical-align: middle;
}

.footer-navigation {
	display: flex;
	flex-direction: row;
}

.footer-navigation li {
	padding: 3% 20%;
}

.footer-navigation li a {
	padding-left: 6px;
	color: black; 
}

.footer-navigation li a:hover {
	color:  #005b96;
	text-decoration: none;
}

.footer-text {
	margin: 0 10px 10px 0;
}

/* Mobile version */
@media screen and (max-width: 1350px) {
	.navigation-bar {
		position: relative;
		font-weight: 400;
		width: 100%;
		background: #f3fafd;
		text-align: center;	
		border-bottom: none;
		border-top: solid 1px #bfbfbf;
	}

	.navigation-bar ul { 
		position: relative;
		margin: 0; 
		padding: 5px; 
		list-style-type: none;
	} 
	 
	.navigation-bar ul li {  
		display: inline;
		float: none;
		margin-right: none;
		border-right: none;
		padding: none;
	}  

	.navigation-bar ul li a { 
		display: inline-block;
		text-decoration: none; 
		padding: 0.2em 1em;
		color: #000;
	} 

	.navigation-bar ul li a:hover { 
		color:  #005b96; 
		background-color: #fff; 
	}

	.sidebar {
		width: 100%;
		background: #fff;
		border-right: none;
	}

	.social a {
		border: solid 1px #ccc;
		color: #ccc;
	}

	.social button {
		border: solid 1px #ccc;
		color: #ccc;
	}

	.button-top {
		display: none;
	}

	.content {
		width: 100%;
	}

	.half-block {
		width: 100%;
	}

	.sub-menu {
		display: block;
	}

	.col-form-label {
		width: 100%;
	}

	.col-form-input {
		width: 100%;
	}

	.footer {
		justify-content: flex-start;
	}

	.footer-navigation li {
		padding: 0 4vw;
	}

	.footer-navigation li a {
		padding-left: 2vw;
		color: black; 
	}

	.footer-text {
		margin: 0;
		padding: 4vw 2vh 4vw;
	}

	.footer-contact {
		margin: 0;
		padding: 2vw 4vw;
	}

}




