.pageContent {
	font-family: 'Montserrat', sans-serif; 
}

.top {
	border-bottom: solid 1px #eee;	
	background: #87ceeb;
}

.header {
	font-weight: 500;
	padding-left: 2%;
	width: 25%;
	min-width: 250px;
}

.navigationBar {
	position: relative;
	font-weight: 400;
	min-width: 75%;
	background: #f3fafd;
}

.navigationBar ul {
	position: absolute;
	bottom: 0; 
	right: 0;  
	list-style-type: none;
} 
 
.navigationBar ul li {  
	display: inline;
} 
 
.navigationBar ul li a { 
	padding: 0.2em 1em;
	display: inline-block;
	text-decoration: none; 
	color: #000;
} 
 
.navigationBar ul li a:hover { 
	color:  #005b96; 
	background-color: #fff; 
} 

.main {
	min-height: 570px;
}

.sidebar {
}

.sidebar-header {
	
}

.sidebar-links {

}

.content {
}

.footer {
	bottom: 0;
	width: auto;
	height: 20%;
	background: #eeeeee;
	border-top: solid 1px #ddd;
	min-height: 60px;
}

@media screen and (max-width: 1400px) {
	.navigationBar {
		position: relative;
		font-weight: 400;
		width: 100%;
		background: #f3fafd;
		text-align: center;
	}

	.navigationBar ul { 
		position: relative;
		margin: 0; 
		padding: 5px; 
		list-style-type: none;
		} 
	 
	.navigationBar ul li {  
		display: inline;
		} 

	.navigationBar ul li a { 
	display: inline-block;
	text-decoration: none; 
	padding: 0.2em 1em;
	color: #000;
	} 
}
